BASE_URL="http://localhost:3000"

MCP_RUNTIME_HOST="localhost"
MCP_RUNTIME_PORT="4001"

MCP_CONTROL_HOST="localhost"
MCP_CONTROL_PORT="4002"

ROCKETCHAT_AUTH_TOKEN=""
AUTH_TOKEN=""

ROCKETCHAT_USER_ID=""
USER_ID=""

